#map
    position absolute
    top 0
    left 0
    width 1920px
    height 1080px
    z-index 0
@font-face
    font-family 'MyNewFont'
    src url('../font/newFont.ttf')
.wrap
    width 1920px
    height 1080px
    position relative
    .head
        overflow hidden
        position absolute
        top 0
        left 0
        z-index 1
        width 100%
        background url('../img/public/header.png') no-repeat
        background-size 100% 100%
        p
            text-align center
            font-size 34px
            font-weight 400
            font-family 'MyNewFont'
            text-shadow 0 0 10px #30677C
            height 90px
            line-height 90px
            color #fff
            margin 0
            >img 
                // width 45px
                // height 45px
                vertical-align middle
.pop-wrap
    position fixed
    top 0
    left 0
    width 1920px
    height 1080px 
    background rgba(0,22,27,0.9)
    z-index 1000
    .pop
        width 1166px
        min-height 320px
        //max-height: 640px;
        padding-bottom 71px
        margin 131px auto 0
        background url('../img/electronic_personnel_file/border-pop.png') no-repeat
        background-size 100% 100%
        position relative
        border 1px solid transparent
        >h1
            margin 0
            position relative
            .title
                position absolute
                left 50%
                transform translateX(-50%)
                height 42px
                line-height 42px
                width 391px
                font-size 24px
                font-weight 400
                color #24DFFF 
                text-align center
                background url('../img/electronic_personnel_file/title.png') no-repeat
                background-size 100% 100%
            .close
                display inline-block
                width 35px
                height 35px
                background url('../img/electronic_personnel_file/close.png') no-repeat
                background-size 100% 100%
                position absolute
                right 8px
                top 8px
                cursor pointer
        .ctx
            width 1166px
            margin-top 67px
            .category
                width 1077px
                margin 24px auto 0
                list-style none
                background: url(../img/public/hline.png) bottom center no-repeat
                background-size: 100% 1px
                li
                    display inline-block
                    height 40px
                    line-height 40px
                    font-size 16px
                    color #62C2D2     
                    background rgba(34, 223, 255, 0.1)
                    padding 0 26px
                    margin-right 4px
                    border 1px solid #377184
                    cursor pointer
                .active
                    border-top 2px solid #23D3F1
                    border-bottom 0
                    position relative
                    bottom -1px
                    background #00212a
                    color #23D3F1
                    font-weight bold
                    border-bottom-color #00212A
            table
                width 1077px
                margin 24px auto 0
                border 1px solid #10728D
                border-collapse collapse
                font-size 0
                th,tr,td
                    border-bottom 1px solid #10728D
                    box-sizing border-box
                thead
                    th
                        padding 12px 0 19px         
                        background rgba(0, 46, 56, 0.5)
                        border-right 1px solid #10728D
                        color #ffffff
                        font-size 16px
                        font-weight 400
                        text-align center 
                tbody
                    td
                        padding 11px 0 14px
                        color #20C6E3
                        font-size 16px
                        font-weight 400
                        text-align center 
                        border-right 1px solid #10728D
            .pagination
                position absolute
                bottom 28px
                width 100%
                left 50%
                transform translateX(-50%)
                display flex
                align-items center
                justify-content center
                >p
                    height 34px
                    margin 0
                    line-height 34px
                    font-weight 400
                    color #FFFFFF
                >ul
                    list-style none
                    display flex
                    margin 0
                    padding 0
                .sum
                    font-size 16px
                    margin-right 14px
                    >span
                        color #24DFFF
                .pagination-list
                    font-size 0
                    li
                        width 42px
                        height 30px
                        border 1px solid #104E5F
                        margin-right 5px
                        border-radius 3px
                        cursor pointer
                        a
                            display inline-block
                            width 44px
                            height 32px
                            line-height 32px
                            text-align center 
                            text-decoration none
                            font-size 16px
                            color #62C2D2
                            background transparent
                            border-radius 3px
                        &.active>a
                            background #24DFFF
                            color #fff
                            border 0
                .stairs
                    font-size 16px
                    color #fff
                    margin-left 25px
                    input
                        border 1px solid #104E5F
                        width 42px
                        height 30px
                        outline none
                        background transparent
                        margin 0 11px
                        border-radius 3px
                        color #62C2D2
                        text-align center
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button 
                         -webkit-appearance none